@import 'src/styles/core';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__element {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border: 1px solid $color-alto;
    border-radius: 3px;
    background: linear-gradient(to bottom, $color-gallery, $color-alabaster);
    font-size: 94%;
    color: $color-grey-dark;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  &--active {
    background: $color-dove-gray;
    color: $primary-white;
  }
}
