@import 'src/styles/core';

.table-element {
  cursor: pointer;

  &:hover {
    transition: background-color .3s;
    background-color: $color-alabaster;
  }

  td {
    border: 1px solid $color-grey-light;
    padding: 15px 0 10px;
    line-height: 0;

    &:first-of-type {
      padding-left: 30px;
      text-align: left;
    }
  }
}
