@import 'src/styles/core';

.payment-modal {
  position: absolute;
  top: 20%;
  right: 25%;
  bottom: 45%;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  border-radius: 3px;
  background-color: $primary-white;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
  }

  &__header {
    margin-bottom: 70px;
  }
}
