@import 'src/styles/core';

.payments {
  max-width: 985px;
  margin: 70px auto;
  border: 1px solid $color-alto;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0 0 0 6px rgba(214, 214, 214, 1);
  background-color: $primary-white;
}
