@import 'src/styles/core';

.rating-level {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @include atMedium {
    flex-direction: row;
  }

  &__icon {
    margin-right: 2px;
  }
}
