@import 'src/styles/core';

.payments-table {
  width: 100%;
  margin: 18px 0;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius;
  border-spacing: 0;
  color: $color-grey-dark;
  font-size: 80%;

  &__header {
    background-color: $color-porcelain;

    th {
      padding: 22px 0;

      &:first-of-type {
        width: 60%;
        padding-left: 30px;
        text-align: left;
      }
    }
  }
}
