@import 'src/styles/core';

.select-wrapper {
  width: 100%;
  margin-top: 10px;
  padding: 6px;
  border-radius: $border-radius;
  background-color: $color-porcelain;

  @include atMedium {
    width: 17%;
    margin-top: 0;
  }

  &__select {
    width: 100%;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 70%;
  }
}
