@import 'src/styles/core';

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 17px;

  @include atMedium {
    flex-direction: row;
  }

  &__input {
    width: 100%;
    border: 1px solid $color-grey-light;
    border-radius: $border-radius;
    padding: 10px 9px 8px;
    font-size: 75%;

    &::placeholder {
      color: $color-dusty-grey;
    }

    @include atMedium {
      width: 45%;
      margin-right: 10px;
    }
  }
}
