@import 'src/styles/core';

.intro {
  padding-bottom: 25px;
  border-bottom: 1px solid $color-grey-light;

  &__header {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1;
    font-size: 360%;
    font-weight: 300;
    color: $primary-blue;
  }

  &__desc {
    margin: 0;
    color: $color-grey-dark;
  }
}
