@import '_mixins';

.btn {
  margin-top: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radius;
  font-weight: 600;
  cursor: pointer;

  @include atMedium {
    margin-left: 10px;
    margin-top: 0;
  }

  &--grey {
    background: linear-gradient(to bottom, $color-concrete, $color-silver);
    color: $color-grey-dark;
  }

  &--blue {
    background: linear-gradient(to bottom, $color-cornflower-blue, $color-dodger-blue);
    color: $primary-white;
  }
}
