$primary-white: #ffffff;
$primary-grey: #e3e2e2;
$primary-blue: #2288b7;

$color-grey-light: #e0e0e0;
$color-grey-dark: #494949;
$color-dusty-grey: #999999;
$color-dove-gray: #676767;

$color-porcelain: #eaeced;
$color-alto: #d6d5d5;

$color-gallery: #ebebeb;
$color-alabaster: #f9f9f9;

$color-concrete: #f2f2f2;
$color-silver: #c4c4c4;

$color-cornflower-blue: #6ba1f3;
$color-dodger-blue: #2077f0;
