@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import 'colors';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-grey;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
